<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/order.css">
</head>

<body>
  <div id="header" class="header">
    <ul class="MenuTabBar">
      <li class="subMenu"><a href="http://localhost:3700/router">Shop</a></li>
      <li class="subMenu"><a href="http://localhost:3700/router/products">Product</a></li>
      <li class="subMenu"><a href="http://localhost:3700/router/cart">Cart</a></li>
      <li class="subMenu"><a href="http://localhost:3700/router/order">Order</a></li>
      <li class="subMenu"><a href="http://localhost:3700/router/login">Login</a></li>
      <!-- <li class="subMenu"><a href="#">Add Product</a></li>
      <li class="subMenu"><a href="http://localhost:3700/router/adminproduct">Admin Products</a></li> -->
    </ul>
  </div>

</body>
<script src="/order.js"></script>

</html>